@model CustomerAddViewModel


<div class="container">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            <div class="text-center">

                <form asp-controller="Musteri" asp-action="Add" method="post">

                    <div class="form-group col-md-6">
                        <input asp-for="Customer.Name" type="text" id="Customer.Name" name="Customer.Name" class="form-control"
                               value="@Model.Customer.Name" >
                    </div>

                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </form>

            </div>
        </div>
    </div>
</div>