@model CustomerListViewModel

<h3>Müşteriler</h3>

<div class="row float-end">
    <div class="float-end">
        <a asp-action="Add" asp-controller="Musteri" class="btn btn-primary">Yeni Kayıt</a>
    </div>
</div>
<br />

<br />
<div class="container-fluid">
    <div class="row">
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col" class="col-md-1">#</th>
                        <th scope="col" class="col-md-6">Müşteri</th>
                        <th class="col-md-1">İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var m in Model.customer.Data.OrderBy(p=>p.Name))
                    {
                        <tr>
                            <th scope="row">@m.Id</th>
                            <td>@m.Name</td>
                           
                            <td><a asp-controller="Musteri" asp-action="Delete" asp-route-id="@m.Id" class="btn btn-info">Sil</a> </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>


    </div>
</div>